@import 'global';
@import 'animations';

.submit_btn {
    border: none;
    background-color: var(--secondary-color);
    padding: 0.8rem 4.6rem;
    font-size: 3rem;
    font-family: var(--main-font);
    font-weight: 700;
    color: var(--background-color);
    cursor: pointer;
    opacity: 0;
    animation: appear-pop 0.5s ease-in 2s 1 forwards;
}
  
#signup_btn {
    margin-bottom: 8rem;
}
  
#login_btn {
    margin-top: 4rem;
}