@import 'global';

.chart_container{
    background-color: var(--background-color);
    padding: 1.8rem;
    border-radius: 1.8rem;
    opacity: 0;
}
.chart_container:nth-child(1){
    animation: appear-pop 0.5s ease 0.5s 1 forwards;
}
.chart_container:nth-child(2){
    animation: appear-pop 0.5s ease 1s 1 forwards;
}
.chart_container:nth-child(3){
    animation: appear-pop 0.5s ease 1.5s 1 forwards;
}
.chart_container:nth-child(4){
    animation: appear-pop 0.5s ease 2s 1 forwards;
}
.chart_container h3 {
    font-size: 1rem;
    color: var(--secondary-text-color);
    font-weight: 500;
    font-family: var(--dashboard-font);
}
.chart_container h2 {
    font-family: var(--dashboard-font);
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--secondary-color);
}
.chart_container h4 {
    font-family: var(--dashboard-font);
    font-size: 0.9rem;
    font-weight: 400;
    color: #4F4F4F;
    margin-top: 0.6rem;
}
.chart_container h4::after {
    content: '';
    position: absolute;
    height: 0.2rem;
    width: 115%;
    background-color: var(--dashboard-bg-color);
    bottom: -1.5rem;
    left: -2rem;
}
.chart_container h4:nth-child(3):after {
    width: 105%;
}
.information_icon {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2rem;
    color: #BDBDBD;
    cursor: pointer;
}
.information_chart_container {
    position: relative;
}
#two_bar {
    grid-area: 2/1/3/4;
}
.chart_img_container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}