@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:wght@400;500;700&display=swap');

:root {
    --main-font: "Poppins", sans-serif;
    --secondary-font: "DM Sans", sans-serif; 

    --background-color: #FFFF;
    --secondary-color: #CC6138;
    --text-color: #333333;
    --error-color: #B90000;
}