@import 'global';

.content {
  display: grid;
  grid-template-columns: 50% 50%;
}
.form_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3.8rem;
  margin-top: 8.5rem;
  opacity: 0;
  animation: appear 1s ease-in-out 1s 1 forwards;
}
.form_content h1 {
  font-size: 8rem;
  color: var(--secondary-color);
}
.form_content p, .form_content .signup_link {
  font-size: 1.8rem;
  padding-top: 14rem;
}
.signup_link {
  color: var(--secondary-color);
  text-decoration: none;
  position: relative;
}
.signup_link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.1rem;
  background-color: var(--secondary-color);
  bottom: 0;
  left: 0;
  transition: 0.5s ease;
}
.signup_link:hover::after {
  width: 100%;
}
.back_btn {
  padding-left: 9rem;
  display: flex;
  align-items: center;
  align-self: flex-start;
  font-size: 1.8rem;
  color: var(--text-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.back_btn:hover {
  color: var(--secondary-color);
}
.back_btn:hover svg {
  animation: is-bouncing 1s ease-in-out infinite forwards;
}
.back_btn:active {
  transform: scale(0.9);
}
.form_content .back_btn svg {
  font-size: 1.8rem;
}
.forgot_pass_btn_container{
  position: relative;
}
.forgot_pass_btn_container button {
  margin-top: 1rem;
  font-size: 1.8rem;
  color: var(--secondary-color);
  border: none;
  background-color: transparent;
  font-family: var(--main-font);
  cursor: pointer;
}
.forgot_pass_btn_container button::after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  height: 0.1rem;
  background-color: var(--secondary-color);
  bottom: 0;
  transition: 0.5s ease;
}
.forgot_pass_btn_container button:hover::after {
  width: 100%;
}